.idea
__pycache__
testdata/sequence
dist
deepfauneGUI.spec
deepfaune_gui.ini
commands/.cache.sqlite
installer/
.venv/
.build-venv/
build/
packaging/windows/artifacts/
.build-venv-macos/
packaging/macos/artifacts/
